<% provide(:title, 'Inscription') %>
<div id="container">
  <div id="gauche">
    <div class="bloc">
      <h1>Inscription</h1>
      <p>L'inscription devient plus simple.</p>
      <hr />
      <ul>
        <li><span class="big">♲</span> Un seul formulaire pour toutes les écoles</li>
        <li><span class="big">✌</span> Gérez facilement vos candidatures</li>
        <li><span class="big">⇩</span> Stockez vos données scolaires</li>
      </ul>
    </div>
    <div id="droite">
          <%= form_for(@user, url: signup_path) do |f| %>
          <%= render 'shared/error_messages' %>
          <div class="input-group-1">
            <%= f.text_field :name, class: 'form-control', placeholder: "♟    Nom" %>
          </div>
          <div class="input-group">
            <%= f.email_field :email, class: 'form-control', placeholder: "✉    Email" %>
          </div>
          <div class="input-group">
            <%= f.password_field :password, class: 'form-control', placeholder: "☢    Mot de passe" %>
          </div>
          <div class="input-group-4">
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "☢    Confirmation" %>
          </div>
          <br>
          <%= f.submit "Crée ton compte !", class: "btn"%>
          <% end %>
          <div id="grey">
          <p>Connectez vous !</p>
          </div>
    </div>
    </div>
</div>
