<% provide(:title, @event.name) %>
<div class="container">
  <h1>Concert de <%= @event.name %> par <%= @event.creator.name.capitalize %></h1>
    <div id="results">
      <div class="result">
        <h2>Infos</h2>
<img src="https://s3-media1.fl.yelpcdn.com/bphoto/pqab1YHTEuGX7ciSkK6loQ/ls.jpg"/><hr>
      <p>Le concert de <%= @event.name %> se déroulera le <%= @event.date.strftime("%d/%m/%Y ") unless @event.date.nil? %>
        à <%= @event.place %></p>
       <p> <%= @event.description %> </p>
     </div>
      <% if logged_in? %>


        <% if @event.user_attendees.include?(current_user) %>
        <div class="result">
          <h2>Votre Statut</h2>
            <img src="https://s3-media1.fl.yelpcdn.com/bphoto/pqab1YHTEuGX7ciSkK6loQ/ls.jpg"/><hr>
          <h3><%= button_to 'Désinscription', unattend_event_path(@event), method: :post, confirm: 'Vraiment?',  class: "btn btn-sm btn-danger", style: "width:80%; margin:0px auto;" %></h3>
        </div>
        <% elsif @event.date > Time.now %>
        <div class="result">
          <h2>Votre Statut </h2>
          <img src="https://s3-media1.fl.yelpcdn.com/bphoto/pqab1YHTEuGX7ciSkK6loQ/ls.jpg"/><hr>
          <h3><%= button_to 'Rejoindre', attend_event_path(@event), method: :post, confirm: 'really?',  class: "btn btn-sm btn-primary", style: "width:80%; margin:0px auto;" %></h3>
        </div>
        <% end %>
      <% else %>
      <div class="result">
        <%= link_to "Inscris toi pour participer !", login_path, class: "btn btn-sm btn-primary", style:"width:80%; margin:0px auto;" %>
      </div>
      <% end %>
      <% if @event.creator == current_user %>
      <div class="result">
        <h2>Gérer ce concert</h2>
        <p> Comme vous êtes le créateur de l'événement, vous pouvez: </p>
        <h3><%= link_to "Editer", edit_event_path, method: :get, class:"btn btn-sm btn-primary", style:"width:80%; margin:0px auto;" %></h3>
      <h3> <%= link_to "Supprimer", event_path, method: :delete, class:"btn btn-sm btn-danger", style:"width:80%; margin:0px auto;", data: {confirm: 'Ultime bafouille?' } %></h3>
    </div>
      <% end %>

      <% if logged_in? %>
      <div class="result">
        <h3>Utilisateurs inscrits</h3>

            <% @event.user_attendees.each do |u|%>

              <a href="mailto:<%= u.email %>"><%= u.name %></a><br />


            <% end %>

      </div>
      <% end %>
      <% if logged_in? && @event.date > Time.now %>
      <div class="result">
        <h3>Inviter un ami</h3>
            <% @users.each do |u|%>
              <% if !(@event.user_attendees.include?(u)) && u != current_user %>
              <table style="width:90%; margin:0px auto;border:0px;">
                <tbody>
                  <tr>
                    <td style="width:60%;"><a href="mailto:<%= u.email %>"><%= u.name %></a></td>
                    <td><%= button_to 'Inviter', invite_event_path(@event), method: :post,  class: "btn btn-sm btn-warning", :params => {:user => u} %> </li>
                  </td>
                </tbody>
              </table>
             <% end %>
            <% end %>
    </div>
<% end %>
